/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/

@font-face {
  font-family: 'Manrope7';
  font-display: swap;
  src: url('../fonts/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: '700';
  font-style: 'normal';
}

@font-face {
  font-family: 'Manrope8';
  font-display: swap;
  src: url('../fonts/Manrope-ExtraBold.woff') format('woff'), url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: '800';
  font-style: 'normal';
}

@font-face {
  font-family: 'Manrope3';
  font-display: swap;
  src: url('../fonts/Manrope-Light.woff') format('woff'), url('../fonts/Manrope-Light.woff2') format('woff2');
  font-weight: '300';
  font-style: 'normal';
}

@font-face {
  font-family: 'Manrope5';
  font-display: swap;
  src: url('../fonts/Manrope-Medium.woff') format('woff'), url('../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: '500';
  font-style: 'normal';
}

@font-face {
  font-family: 'Manrope6';
  font-display: swap;
  src: url('../fonts/Manrope-SemiBold.woff') format('woff'), url('../fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: '600';
  font-style: 'normal';
}

@font-face {
  font-family: 'Manrope4';
  font-display: swap;
  src: url('../fonts/Manrope-Regular.woff') format('woff'), url('../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: '400';
  font-style: 'normal';
}

.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-title {
  font-family: Manrope8;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #17181c;
}

.page-btn {
  cursor: pointer;
  font-family: Manrope7;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 20px 40px;
  color: #17181c;
  border-radius: 5px;
}

.page-btn span {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body {
  background: #f6f4f4;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 10px;
}

.body-lock {
  overflow: hidden;
}

.header {
  background-image: url('../img/bg1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-bottom: 90px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/shadow.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: #f6f4f4;
}

.header__frame {
  position: absolute;
  bottom: 0;
  height: 300px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 300px;
}

.header__frame:nth-child(1) {
  left: 0;
  width: 33%;
  background-image: url('../img/frame.png');
}

.header__frame:nth-child(2) {
  left: 33%;
  width: 33%;
  background-image: url('../img/frame2.png');
}

.header__frame:nth-child(3) {
  right: 0;
  width: 34%;
  background-image: url('../img/frame3.png');
}

.header .container {
  position: relative;
  z-index: 50;
}

.header-top {
  padding: 15px 0px;
  margin-bottom: 60px;
}

.header-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo {
  width: 176px;
  height: 86px;
  margin-right: 20px;
  position: relative;
  z-index: 550;
}

.header-top__logo img {
  width: inherit;
  height: inherit;
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__link {
  font-family: Manrope8;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.header-top__link:not(:last-child) {
  margin-right: 30px;
}

.header-top__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.header-top__tel {
  font-family: Manrope8;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 15px;
}

.header-top__btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Manrope8;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 15px 25px;
  background: #5bbfc8;
  border-radius: 5px;
}

.header-top__btn span {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main {
  padding-bottom: 80px;
  overflow: hidden;
}

.header-main__title {
  font-family: Manrope8;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main__title.anim {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-main__subtitle {
  font-family: Manrope4;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 60px;
  max-width: 500px;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main__subtitle.anim {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

.header-main__btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  background: #ffd200;
  border-radius: 5px;
  padding: 20px 65px 20px 20px;
  font-family: Manrope7;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  position: relative;
}

.header-main__btn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 33px;
  height: 33px;
  -webkit-mask-image: url('../img/1.svg');
          mask-image: url('../img/1.svg');
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 33px 33px;
          mask-size: 33px 33px;
  background-color: #000;
}

.header-main__btn span {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__block {
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url('../img/bg2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  padding: 10px 30px;
  position: relative;
  z-index: 1;
}

.header-bottom__block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 10px;
  z-index: 5;
}

.header-bottom__body {
  position: relative;
  z-index: 10;
}

.header-bottom__title {
  font-family: Manrope8;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.header-bottom__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 6px;
  background: #171717;
  border-radius: 5px;
}

.header-bottom__text {
  font-family: Manrope5;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.header-bottom__item {
  width: 205px;
  height: 300px;
  padding: 15px 15px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.header-bottom__item:nth-child(2) {
  background: #ffd300;
}

.header-bottom__item:nth-child(2) .header-bottom__prcie span {
  background: #deb905;
  color: #534407;
}

.header-bottom__item:nth-child(2) .header-bottom__name {
  color: #000;
}

.header-bottom__item:nth-child(3) {
  background: #4b5257;
}

.header-bottom__item:nth-child(3) .header-bottom__prcie span {
  background: #b0b0b0;
  color: #fff;
}

.header-bottom__item:nth-child(3) .header-bottom__name {
  color: #fff;
}

.header-bottom__item:nth-child(4) {
  background: #5bbfc8;
}

.header-bottom__item:nth-child(4) .header-bottom__prcie span {
  background: #49a1a9;
  color: #1e4d54;
}

.header-bottom__item:nth-child(4) .header-bottom__name {
  color: #000;
}

.header-bottom__part {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header-bottom__prcie {
  margin-bottom: 13px;
}

.header-bottom__prcie span {
  display: inline;
  padding: 5px 10px;
  font-family: Manrope3;
  font-size: 16px;
  line-height: 18px;
  border-radius: 5px;
}

.header-bottom__name {
  font-family: Manrope8;
  font-size: 20px;
  line-height: 25px;
}

.header-bottom__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-bottom__icon img {
  max-width: 110px;
  max-height: 110px;
}

.header__burger {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px;
  height: 50px;
  background: #17181c;
  border-radius: 5px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 550;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease 0s, width 0s;
  -o-transition: all 0.4s ease 0s, width 0s;
  transition: all 0.4s ease 0s, width 0s;
}

.header__burger::after {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease 0s, width 0s;
  -o-transition: all 0.4s ease 0s, width 0s;
  transition: all 0.4s ease 0s, width 0s;
}

.header__burger span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.legal__title {
  margin-bottom: 30px;
}

.legal__ifon {
  font-family: Manrope7;
  font-size: 22px;
  line-height: 35px;
  color: #17181c;
  text-align: center;
  margin-bottom: 50px;
}

.legal__ifon span {
  padding: 5px 15px;
  background: #ffd300;
  border-radius: 5px;
  margin-right: 15px;
}

.legal__sector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.legal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('../img/bg3.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.legal__block {
  margin-left: 50%;
  padding: 70px 0px 70px 70px;
}

.legal__body {
  margin-bottom: 55px;
  overflow: hidden;
  padding: 5px 0px;
}

.legal__body.anim .legal__item {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.legal__body.anim .legal__item:nth-child(1) {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.legal__body.anim .legal__item:nth-child(2) {
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

.legal__body.anim .legal__item:nth-child(3) {
  -webkit-transition: all 0.4s ease 0.6s;
  -o-transition: all 0.4s ease 0.6s;
  transition: all 0.4s ease 0.6s;
}

.legal__body.anim .legal__item:nth-child(4) {
  -webkit-transition: all 0.4s ease 0.9s;
  -o-transition: all 0.4s ease 0.9s;
  transition: all 0.4s ease 0.9s;
}

.legal__item {
  font-family: Manrope7;
  font-size: 22px;
  line-height: 26px;
  color: #17181c;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.legal__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 30px;
  background: #171717;
  border-radius: 5px;
}

.legal__item:not(:last-child) {
  margin-bottom: 20px;
}

.legal__form {
  width: 350px;
  margin-left: 20px;
}

.legal__label {
  margin-bottom: 25px;
}

.legal__label span {
  display: block;
  font-family: Manrope5;
  font-size: 16px;
  line-height: 20px;
  color: #17181c;
  margin: 0px 0px 10px 20px;
}

.legal__input {
  width: 100%;
  height: 65px;
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 10px 0px 30px;
  font-family: Manrope7;
  font-size: 16px;
  line-height: 20px;
  color: #17181c;
}

.legal__input::-webkit-input-placeholder {
  color: #17181c;
}

.legal__input::-moz-placeholder {
  color: #17181c;
}

.legal__input:-ms-input-placeholder {
  color: #17181c;
}

.legal__input::-ms-input-placeholder {
  color: #17181c;
}

.legal__input::placeholder {
  color: #17181c;
}

.legal__btn {
  background: #ffd300;
  display: block;
  margin: 0px auto;
}

.benefits {
  padding: 100px 0px 200px 0px;
  background-image: url('../img/bg4.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.benefits__tille {
  margin-bottom: 120px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__column {
  position: relative;
  z-index: 5;
  width: 320px;
}

.benefits__column:first-child .benefits__item:first-child {
  position: relative;
}

.benefits__column:first-child .benefits__item:first-child::before {
  content: '';
  position: absolute;
  bottom: -72px;
  left: calc(100% - 28px);
  width: 200px;
  border-bottom: 1px dashed #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.benefits__column:first-child .benefits__item:last-child {
  position: relative;
}

.benefits__column:first-child .benefits__item:last-child::before {
  content: '';
  position: absolute;
  bottom: 70px;
  left: calc(100% - 28px);
  width: 200px;
  border-bottom: 1px dashed #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.benefits__column:last-child .benefits__item:first-child {
  position: relative;
}

.benefits__column:last-child .benefits__item:first-child::before {
  content: '';
  position: absolute;
  bottom: -72px;
  right: calc(100% - 28px);
  width: 200px;
  border-bottom: 1px dashed #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.benefits__column:last-child .benefits__item:last-child {
  position: relative;
}

.benefits__column:last-child .benefits__item:last-child::before {
  content: '';
  position: absolute;
  bottom: 70px;
  right: calc(100% - 28px);
  width: 200px;
  border-bottom: 1px dashed #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.benefits__item {
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Manrope8;
  font-size: 20px;
  line-height: 22px;
  color: #17181c;
  padding: 6px 10px 6px 20px;
  border-bottom: 1px dashed #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item span {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.benefits__img {
  position: relative;
  z-index: 10;
  margin: 70px 10px 0px 10px;
}

.benefits__img img {
  width: 330px;
  height: 390px;
}

.tire {
  background-color: #ffd300;
  padding: 100px 0px;
  position: relative;
}

.tire__frame {
  position: absolute;
  z-index: 1;
}

.tire__frame img {
  width: 300px;
  height: 150px;
}

.tire__frame:nth-child(1) {
  bottom: 50px;
  left: 0;
}

.tire__frame:nth-child(2) {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tire .container {
  position: relative;
  z-index: 10;
}

.tire__title {
  margin-bottom: 50px;
}

.tire__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tire__label {
  margin-right: 15px;
}

.tire__label span {
  display: block;
  font-family: Manrope5;
  font-size: 16px;
  line-height: 20px;
  color: #17181c;
  margin: 0px 0px 10px 20px;
}

.tire__input {
  width: 350px;
  height: 65px;
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 10px 0px 30px;
  font-family: Manrope7;
  font-size: 16px;
  line-height: 20px;
  color: #17181c;
}

.tire__input::-webkit-input-placeholder {
  color: #17181c;
}

.tire__input::-moz-placeholder {
  color: #17181c;
}

.tire__input:-ms-input-placeholder {
  color: #17181c;
}

.tire__input::-ms-input-placeholder {
  color: #17181c;
}

.tire__input::placeholder {
  color: #17181c;
}

.tire__btn {
  background: #17181c;
  color: #fff;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works {
  margin: 90px 0px 120px 0px;
}

.works__title {
  margin-bottom: 70px;
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__column {
  max-width: 400px;
}

.works__img img {
  max-width: 400px;
  max-height: 400px;
}

.works__body {
  font-family: Manrope7;
  font-size: 20px;
  line-height: 24px;
  color: #17181c;
  overflow: hidden;
}

.works__body.anim li {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.works__body.anim li:nth-child(1) {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works__body.anim li:nth-child(2) {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.works__body.anim li:nth-child(3) {
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}

.works__body.anim li:nth-child(4) {
  -webkit-transition: all 0.3s ease 0.6s;
  -o-transition: all 0.3s ease 0.6s;
  transition: all 0.3s ease 0.6s;
}

.works__body.anim li:nth-child(5) {
  -webkit-transition: all 0.3s ease 0.8s;
  -o-transition: all 0.3s ease 0.8s;
  transition: all 0.3s ease 0.8s;
}

.works__body.anim li:nth-child(6) {
  -webkit-transition: all 0.3s ease 1s;
  -o-transition: all 0.3s ease 1s;
  transition: all 0.3s ease 1s;
}

.works__body.anim li:nth-child(7) {
  -webkit-transition: all 0.3s ease 1.2s;
  -o-transition: all 0.3s ease 1.2s;
  transition: all 0.3s ease 1.2s;
}

.works__body.anim li:nth-child(8) {
  -webkit-transition: all 0.3s ease 1.4s;
  -o-transition: all 0.3s ease 1.4s;
  transition: all 0.3s ease 1.4s;
}

.works__body.anim li:nth-child(9) {
  -webkit-transition: all 0.3s ease 1.6s;
  -o-transition: all 0.3s ease 1.6s;
  transition: all 0.3s ease 1.6s;
}

.works__body.anim li:nth-child(10) {
  -webkit-transition: all 0.3s ease 1.8s;
  -o-transition: all 0.3s ease 1.8s;
  transition: all 0.3s ease 1.8s;
}

.works__body li {
  list-style-type: disc;
  margin-left: 20px;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works__body li:not(:last-child) {
  margin-bottom: 10px;
}

.map {
  margin-bottom: 90px;
  position: relative;
}

.map__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #17181c;
  z-index: 5;
}

.map__left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg5.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.map__right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: url('../img/7.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.map .container {
  position: relative;
  z-index: 50;
}

.map__body {
  padding: 250px 0px;
  width: 50%;
}

.map__title {
  color: #fff;
  text-align: unset;
  padding-left: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 60px;
}

.map__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
}

.map__point {
  margin-left: 30px;
  padding-left: 70px;
  font-family: Manrope6;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
}

.map__point::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background: #d07c75;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.prices {
  margin-bottom: 90px;
}

.prices__sector {
  text-align: center;
}

.prices__title {
  margin-bottom: 80px;
}

.prices__form {
  margin: 0px auto 40px auto;
}

.prices__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices__label span {
  font-family: Manrope4;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  margin: -3px 60px 0px 0px;
}

.prices-range {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 450px;
  height: 6px;
  border: unset;
  background: #ebe9e9;
  border-radius: 5px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  display: block;
}

.prices-range .noUi-handle {
  cursor: pointer;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffd300;
  border: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  top: -5.5px;
  right: -15px;
}

.prices-range .noUi-handle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  background: #ffd300;
  opacity: 0.3;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices-range .noUi-handle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: #ffd300;
  opacity: 0.2;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.prices-range .noUi-handle:hover::before,
.prices-range .noUi-handle:active::before {
  opacity: 1;
}

.prices-range .noUi-handle:hover::after,
.prices-range .noUi-handle:active::after {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.prices-range__block {
  position: absolute;
  top: -40px;
  left: -30px;
  width: calc(100% + 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prices-range__item {
  font-family: Manrope3;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.prices-range__item.active {
  font-family: Manrope8;
  opacity: 1;
}

.prices-select {
  display: none;
  position: relative;
}

.prices-select__main {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 5px;
  padding: 0px 30px 0px 15px;
}

.prices-select__main::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url('../img/arrow.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices-select__main span {
  font-family: Manrope8;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 1;
  margin: 0;
}

.prices-select__cover {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.prices-select__body {
  background: #e5e5e5;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, -120%);
      -ms-transform: translate(0px, -120%);
          transform: translate(0px, -120%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices-select__item {
  width: 100%;
  font-family: Manrope3;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.prices-select__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.prices-select__item.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: Manrope4;
}

.prices-select.active .prices-select__main::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices-select.active .prices-select__body {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices__body {
  max-width: 830px;
  margin: 0px auto;
  overflow: hidden;
}

.prices__item {
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: Manrope5;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prices__item.anim {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.prices__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17181c;
  opacity: 0.05;
  border-radius: 5px;
}

.prices__item:not(:last-child) {
  margin-bottom: 5px;
}

.prices__name {
  margin-right: 10px;
  text-align: left;
}

.prices__value {
  font-family: Manrope7;
  font-size: 18px;
  white-space: nowrap;
}

.prices__btn {
  margin-top: 60px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  background: #ffd200;
  border-radius: 5px;
  padding: 20px 65px 20px 20px;
  font-family: Manrope7;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  position: relative;
}

.prices__btn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 33px;
  height: 33px;
  -webkit-mask-image: url('../img/1.svg');
          mask-image: url('../img/1.svg');
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 33px 33px;
          mask-size: 33px 33px;
  background-color: #000;
}

.prices__btn span {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews {
  margin-bottom: 90px;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item {
  width: 48%;
  margin-top: 30px;
}

.reviews__video {
  position: relative;
}

.reviews__play {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: calc(50% - 13.5px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ffd200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews__play span {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../img/play.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.reviews__play.active {
  opacity: 1;
  visibility: visible;
}

.reviews__name {
  font-family: Manrope8;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 10px 0px 5px 0px;
}

.reviews__info {
  font-family: Manrope3;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.partners {
  margin-bottom: 100px;
}

.partners__title {
  margin-bottom: 60px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  display: block;
  width: 18%;
  height: 175px;
  max-width: 200px;
  background: #ffffff;
  border: 2px solid rgba(73, 104, 129, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 15px 1% 0px 1%;
  overflow: hidden;
}

.partners__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners__img img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  overflow: hidden;
  position: relative;
  background: #17181c;
}

.footer__frame {
  position: absolute;
  top: -50%;
  right: 30px;
  width: 70%;
  height: 250px;
  background-image: url('../img/frame6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 250px;
}

.footer .container {
  position: relative;
  z-index: 10;
}

.footer-top__row {
  padding: 50px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-top__logo {
  width: 175px;
  height: 85px;
}

.footer-top__logo img {
  width: inherit;
  height: inherit;
}

.footer-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px;
}

.footer-top__link {
  font-family: Manrope8;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-top__link:not(:last-child) {
  margin-right: 30px;
}

.footer-top__tel {
  font-family: Manrope8;
  font-size: 18px;
  line-height: 22px;
  color: #ffd300;
  padding-left: 30px;
  position: relative;
}

.footer-top__tel::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url('../img/call.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}

.footer-top__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.footer-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer-top__sublogo {
  margin-right: 10px;
}

.footer-top__icon {
  width: 22px;
  height: 22px;
  margin-right: 30px;
}

.footer-top__icon img {
  width: inherit;
  height: inherit;
}

.footer-top__btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Manrope8;
  font-size: 16px;
  line-height: 20px;
  color: #ffd200;
  padding: 15px 30px;
  border: 1px solid #ffd200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.footer-top__btn span {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-bottom {
  position: relative;
}

.footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
}

.footer-bottom__text {
  font-family: Manrope5;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
}

@media (min-width: 992px) {
  .page-btn:hover span {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-top__link:hover {
    color: #fff;
  }

  .header-top__btn:hover span {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-main__btn:hover span {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .prices__item:hover {
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .prices__btn:hover span {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .partners__img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .footer-top__link:hover {
    color: #ffd300;
  }

  .footer-top__btn:hover span {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1400px) {
  .footer__frame {
    width: 80%;
    top: -55%;
  }
}

@media (max-width: 1200px) {
  .map__body {
    padding: 150px 0px;
  }
}

@media (max-width: 1100px) {
  .header {
    background-image: none;
  }

  .header::before {
    display: none;
  }

  .header::after {
    display: none;
  }

  .header__frame {
    display: none;
  }

  .header .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .header__sector {
    padding: 0px 10px;
  }

  .header__sector:nth-child(1) {
    background-image: url('../img/bg1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }

  .header__sector:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/shadow.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .header-top {
    position: relative;
  }

  .header-top__nav {
    position: fixed;
    top: -120vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #17181c;
    z-index: 500;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    overflow: hidden;
    padding-top: 150px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header-top__nav .header-top__sector {
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    overflow-y: auto;
    padding: 50px 0px;
  }

  .header-top__nav .header-top__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }

  .header-top__nav .header-top__link {
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    margin: 0px 0px 30px 0px;
  }

  .header-top__nav .header-top__link:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .header-top__nav .header-top__subrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .header-top__nav .header-top__tel {
    font-size: 25px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
  }

  .header-top__nav .header-top__btn {
    font-size: 20px;
    line-height: 25px;
  }

  .header-top__nav.active {
    top: 0;
  }

  .header-main {
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
  }

  .header-bottom__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 840px;
    margin: 0px auto;
  }

  .header-bottom__block {
    margin: 30px 10px 0px 10px;
  }

  .header-bottom__item {
    margin: 30px 10px 0px 10px;
    width: 400px;
    height: 170px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-bottom__part {
    max-width: 230px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }

  .header-bottom__icon {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-left: auto;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger.active {
    border: 1px solid #fff;
  }

  .header__burger.active span {
    background-color: #17181c;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }

  .header__burger.active::before {
    top: 23px;
    width: 30px;
    -webkit-transform: translate(-50%, 0px) rotate(45deg);
        -ms-transform: translate(-50%, 0px) rotate(45deg);
            transform: translate(-50%, 0px) rotate(45deg);
  }

  .header__burger.active::after {
    bottom: 23px;
    width: 30px;
    -webkit-transform: translate(-50%, 0px) rotate(-45deg);
        -ms-transform: translate(-50%, 0px) rotate(-45deg);
            transform: translate(-50%, 0px) rotate(-45deg);
  }

  .legal__block {
    padding: 10px 0px 10px 40px;
  }

  .benefits {
    padding: 100px 0px 100px 0px;
    background-size: cover;
    background-position: 50% 0;
  }

  .benefits__tille {
    margin-bottom: 60px;
  }

  .benefits__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .benefits__column {
    width: 500px;
  }

  .benefits__column:first-child .benefits__item:first-child::before {
    display: none;
  }

  .benefits__column:first-child .benefits__item:last-child::before {
    display: none;
  }

  .benefits__column:last-child .benefits__item:first-child::before {
    display: none;
  }

  .benefits__column:last-child .benefits__item:last-child::before {
    display: none;
  }

  .benefits__item {
    height: auto;
    padding: 25px 20px;
  }

  .benefits__item span {
    -webkit-line-clamp: unset;
    display: block;
    -webkit-box-orient: unset;
    overflow: unset;
  }

  .benefits__img {
    margin: 30px 0px;
  }

  .benefits__img img {
    width: 400px;
    height: 470px;
  }
}

@media (max-width: 900px) {
  .header {
    margin-bottom: 40px;
  }

  .header-top {
    margin-bottom: 40px;
  }

  .header-main__title {
    font-size: 50px;
    line-height: 55px;
  }

  .header-main__subtitle {
    margin-bottom: 30px;
  }

  .header-bottom__row {
    max-width: unset;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-bottom__block {
    margin: 30px 0px 0px 0px;
  }

  .header-bottom__item {
    margin: 30px 0px 0px 0px;
  }

  .legal__sector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px;
  }

  .legal__bg {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .legal__block {
    padding: 0px 10px;
    margin: 0px auto 40px auto;
  }

  .map__title {
    font-size: 35px;
    line-height: 40px;
  }

  .partners__item {
    width: 23%;
    height: 150px;
  }

  .footer__frame {
    top: -150px;
    left: 0;
    right: 0;
    width: 100%;
  }

  .footer-top__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0px 20px 0px;
  }

  .footer-top__logo {
    margin-bottom: 40px;
  }

  .footer-top__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 20px 0px;
  }

  .footer-top__link {
    font-size: 20px;
    line-height: 24px;
    margin: 0px 0px 30px 0px;
  }

  .footer-top__link:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .footer-top__subrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer-top__body {
    margin: 30px 0px 0px 0px;
  }

  .footer-bottom__text {
    padding: 25px 0px;
  }
}

@media (max-width: 850px) {
  .works {
    margin: 40px 0px 60px 0px;
  }

  .works__title {
    margin-bottom: 30px;
  }

  .works__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .works__column {
    max-width: unset;
  }

  .works__img {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 35px;
    line-height: 40px;
  }

  .tire {
    padding: 50px 0px;
  }

  .tire__frame {
    display: none;
  }

  .tire__form {
    width: 300px;
    margin: 0px auto;
  }

  .tire__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit;
  }

  .tire__label {
    width: inherit;
    margin: 0px 0px 20px 0px;
  }

  .tire__input {
    width: 100%;
  }

  .tire__btn {
    margin: 0px auto;
  }

  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .map__left {
    display: none;
  }

  .map__right {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: 400px;
  }

  .map .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #17181c;
    z-index: 5;
  }

  .map .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg5.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
  }

  .map__body {
    width: 100%;
    padding: 100px 0px;
  }

  .map__title {
    text-align: center;
    padding: 0;
  }

  .map__title::before {
    display: none;
  }

  .prices {
    margin-bottom: 40px;
  }

  .prices__title {
    margin-bottom: 40px;
  }

  .prices-range {
    display: none;
  }

  .prices-select {
    display: block;
  }

  .reviews {
    margin-bottom: 40px;
  }

  .reviews__title {
    margin-bottom: 10px;
  }

  .reviews__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__item {
    width: 400px;
  }

  .footer__frame {
    top: -50px;
    height: 150px;
    background-size: 100% 150px;
  }
}

@media (max-width: 700px) {
  .partners__title {
    margin-bottom: 30px;
  }

  .partners__item {
    width: 30.333%;
    margin: 15px 1.5% 0px 1.5%;
  }
}

@media (max-width: 600px) {
  .legal__bg {
    height: 250px;
  }

  .legal__item {
    font-size: 18px;
    line-height: 20px;
  }

  .legal__form {
    width: 300px;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-main__title {
    font-size: 40px;
    line-height: 45px;
  }

  .header-main__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .benefits {
    padding: 50px 0px 50px 0px;
  }

  .benefits__tille {
    margin-bottom: 30px;
  }

  .benefits__column {
    width: 100%;
  }

  .benefits__item {
    padding: 20px 5px;
  }

  .benefits__img img {
    width: 300px;
    height: 350px;
  }

  .tire__title {
    margin-bottom: 30px;
  }

  .prices__label span {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 20px 0px 0px;
  }

  .prices-select__main span {
    font-size: 16px;
    line-height: 20px;
  }

  .prices-select__main {
    width: 150px;
  }

  .prices__item {
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
  }

  .prices__value {
    font-size: 16px;
  }

  .prices__btn {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .works__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .works__column {
    max-width: 300px;
  }

  .works__img img {
    max-width: 300px;
    max-height: unset;
    height: auto;
  }

  .partners__item {
    width: 48%;
    height: 140px;
    margin: 15px 1% 0px 1%;
  }

  .footer__frame {
    top: -25px;
    width: 150%;
    height: 100px;
    background-size: 100% 100px;
  }

  .footer-top__btn {
    padding: 15px;
  }
}

@media (max-width: 450px) {
  .page-title {
    font-size: 30px;
    line-height: 35px;
  }

  .header-top {
    margin-bottom: 30px;
    padding: 15px 0px 0px 0px;
  }

  .header-top__logo {
    width: 135px;
    height: 65px;
  }

  .header-top__nav {
    padding-top: 100px;
  }

  .header-top__nav .header-top__sector {
    padding: 100px 0px 50px 0px;
  }

  .header-main {
    padding-bottom: 30px;
  }

  .header-main__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .header-main__subtitle {
    margin-bottom: 15px;
  }

  .header-bottom__block {
    width: 300px;
    padding: 10px 15px;
    margin-top: 20px;
  }

  .header-bottom__title {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .header-bottom__title::before {
    width: 60px;
    height: 3px;
  }

  .header-bottom__item {
    width: 300px;
    margin-top: 20px;
  }

  .header-bottom__part {
    max-width: 170px;
  }

  .header-bottom__name {
    font-size: 18px;
    line-height: 22px;
  }

  .header-bottom__icon img {
    max-width: 70px;
    max-height: 70px;
  }

  .reviews__item {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .footer__frame {
    top: 0;
    width: 200%;
  }
}